<div class="park">
  <div class="container">
    <input class="input is-primary search-bar" type="text" placeholder="Search..." [(ngModel)]="filteredAttraction.name">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Wait time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attraction of attractions | attractionfilter: filteredAttraction | sortBy: 'waitTime'">
          <td class="attraction-name">
            {{attraction.name}}
          </td>
          <td>
            <span *ngIf="attraction.active">{{attraction.waitTime}}</span>
            <span *ngIf="!attraction.active">Inactive</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="container spinner-container" *ngIf="parksService.loading">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
  </div>
</div>
