<div class="navigation">
  <a class="nav-home" routerLink="/" *ngIf="parkService.selectedPark != null">
    <img class="home-icon" src="https://user-images.githubusercontent.com/15229355/33805244-72805cdc-ddad-11e7-85db-58331ca84d2b.png" alt="Home" width="50" height="50">
  </a>

  <a class="nav-christopher" href="https://christopherkade.com">
    <!-- <img class="home-icon" src="https://user-images.githubusercontent.com/15229355/33805262-baa8d6ba-ddad-11e7-9d73-032b71a946e7.png" alt="Christopher Kade" width="50" height="50"> -->
    <img class="home-icon" src="/assets/img/ck_logo.svg" alt="Christopher Kade" width="50" height="50">
  </a>
</div>
