@import ../../styles

.navbar
  background-color: transparent
  margin: 5px

.field
  position: absolute
  right: 0

.icon
  vertical-align: middle

.made-by-text
  font-size: 1.15em

.made-by-item
  position: absolute
  right: 0

/* Button */
.btn  
  color: #fff
  cursor: pointer
  display: block
  margin: 0 auto 2em
  padding: 5px
  position: relative
  vertical-align: middle
  width: 100%
  background: $primary
    
  svg
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%
  
  rect 
    fill: none
    stroke: white
    stroke-width: 5
    stroke-dasharray: 422, 0

.btn:hover    
  color: white
  
  rect
    stroke-dasharray: 20, 166
    stroke-dashoffset: 50
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1)
