<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/" *ngIf="parkService.selectedPark != null">
      <img class="home-icon" src="assets/img/home.svg" alt="Home" width="50" height="50">
    </a>
    
    <div class="navbar-item made-by-item">              
      <a class="btn" href="https://christopherkade.com" target="_blank">Made by         
        <img class="ck-icon" src="assets/img/logo_ck_black.png" alt="Christopher Kade">      
      </a>      
    </div>      
  </div>  
</nav>
