@import ../../styles

.home
  text-align: center
  background-repeat: no-repeat
  background-position: center
  background-attachment: fixed
  -webkit-background-size: cover
  background-size: cover
  height: 100%

.container
  padding-top: 25vh

// CARD
.park-card
  text-align: center
  height: 100%
  margin: 10px
  background: rgba(255,255,255,0.5)

.park-button
  width: 70%
  margin-bottom: 5px
  background-color: $primary
  color: white

.park-logo
  padding: 25px

.park-button:hover
  color: black
  background-color: transparent

@include phone
  .park-button
    width: 80%

  .container
    padding-top: 15vh
